.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
code/*.out
code/*.err
dsc/outfiles
dsc/*.err
dsc/*.out
dsc/mvreg_*/rep*/
scripts/**/*.err
scripts/**/*.out
output/*
data/*.txt
data/cis_eqtl_analysis_ready
dsc/functions/__pycache__/
**/.sos

**/.dsc
